node_modules
.next
out
build
dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.development
.env.test
.env.production
.env.docker
!.env.docker.example
!.env.example

.git
.github
.vscode
.idea
.DS_Store
